@import './colors';
@import './buttons';
@import './fonts';

body {
    font-family: 'Rubik', sans-serif;
}

.navbar-tp {
    padding-top: 30px;

    .navbar-nav {
        li.nav-item {
            padding-left: 50px;

            .nav-link {
                font-size: 16px;
                line-height: 19px;
                color: $navy !important;
                font-weight: map-get($font-weights, regular) !important;

                &:hover {
                    border-bottom: 4px solid $purple;
                }
            }

            .active {
                color: $purple !important;
                font-weight:  map-get($font-weights, medium) !important;

                &:hover {
                    color: $purple !important;
                    font-weight:  map-get($font-weights, medium) !important;
                    border-bottom: none;
                }
            }
        }
    }
}

.jumbotron {
    padding-top: 100px;
    .copywriter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 140px;
        
        h1.title {
            font-size: 46px;
            line-height: 60px;
            font-weight:  map-get($font-weights, semibold) !important;
            color: $navy;
        }

        p.description {
            font-size: 18px;
            line-height: 30px;
            font-weight: map-get($font-weights, regular) !important;
            color: $newpur;
            margin: 20px 0px 40px 0px;
        }
    }

    .brands-logo {
        margin-top: 70px;
    }
}

.budget {
    background: $lilpur;
    margin-top: 70px;
    padding-bottom: 70px;

    .copywriter {
        margin: 70px 0px 50px 0px;
        
        h1.title {
            font-size: 46px;
            line-height: 60px;
            font-weight:  map-get($font-weights, semibold) !important;
            color: $navy;
            text-align: center;
        }
    
        p.description {
            font-size: 18px;
            line-height: 30px;
            font-weight: map-get($font-weights, regular) !important;
            color: $newpur;
            margin: 20px 0px 40px 0px;
            text-align: center;
        }
    }

    .master-card {
        border-radius: 22px;
        padding: 30px;
        width: 300px;
    }

    .basic-card {
        @extend .master-card;
        background: $white;
        height: 500px;
        margin-right: 70px;

        h5 {
            font-size: 18px;
            line-height: 21px;
            color: $navy;
            font-weight:  map-get($font-weights, medium) !important;
        }

        h1 {
            font-size: 36px;
            line-height: 43px;
            color: $navy;
            font-weight:  map-get($font-weights, bold) !important;
            padding: 15px 0;
        }

        p {
            font-size: 16px;
            line-height: 24px;
            font-weight: map-get($font-weights, regular) !important;
            color: $newpur;
        }

        .btn-basic {
            width: 100%;
            margin-top: 40px;
        }

        .item-benefit {
            display: flex;
            
            p {
                padding: 18px 0px 0px 8px;
                font-size: 16px;
                line-height: 19px;
                font-weight:  map-get($font-weights, medium) !important;
                color: $navy;
            }
        }
    }

    .popular-card {
        @extend .master-card;
        background: $purple;
        min-height: 513px;

        h5 {
            font-size: 18px;
            line-height: 21px;
            color: $white;
            font-weight:  map-get($font-weights, medium) !important;
        }

        h1 {
            font-size: 36px;
            line-height: 43px;
            color: $white;
            font-weight:  map-get($font-weights, bold) !important;
            padding: 15px 0;
        }

        p {
            font-size: 16px;
            line-height: 24px;
            font-weight: map-get($font-weights, regular) !important;
            color: $newpur;
        }

        .btn-popular {
            width: 100%;
            margin-top: 40px;
        }

        .item-benefit {
            display: flex;
            
            p {
                padding: 18px 0px 0px 8px;
                font-size: 16px;
                line-height: 19px;
                font-weight:  map-get($font-weights, medium) !important;
                color: $white;
            }
        }
    }
}